### Laravel new Defaults ###

/vendor
/node_modules
Homestead.yaml
.env

### Laravel ###
/bootstrap/compiled.php
.env.*.php
.env.php
.env

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp
/resources/assets/vendor

##Cache de npm
.npm-cache/
npm-debug.log

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
#.idea/

## File-based project format:
*.ipr
*.iws

atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

#used to recomplile adminltetheme
/resources/assets/less